.nav.nav-tabs .nav-item{
  cursor: pointer;
}
a.table-row,
.table-header{
  background: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgb(240, 240, 240);
  color: rgb(51, 51, 51);
}

a:hover.table-row{
  background: rgb(253, 247, 236);
}

.color-link{
  background: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgb(240, 240, 240);
  color: rgb(51, 51, 51);
  color: inherit;
}
.color-link:hover{
  color:red;
  font-weight: bold;
  cursor: pointer;
  background: #fffffc;
}
