# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json

# testing
/coverage

# production
/build

#archivos en desarrollo o cosas que quiera tener en mi local referente a este proyecto pero que no afecten un commit

/files_ignore_develop

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
